:root {
  --color-primary: #cd5360;
  --color-secondary: #438496; }

html,
body,
#root,
.App {
  background-color: var(--color-secondary);
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0; }

.App {
  min-height: 100%;
  height: fit-content;
  overflow: hidden;
  overflow-y: scroll; }
